<div class="container">
  <div class="modal-header modal-lg">
    <h4 class="modal-title pull-left">
      <span *ngIf="promoDetail.id">Sửa thông tin Khách hàng</span>
      <span *ngIf="!promoDetail.id">Thêm mới Khách hàng</span>
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mt-3">
      <div class="col-6">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Khách hàng</label>
          <div class="col-sm-9">
            <select [(ngModel)]="cusId">
              <option *ngFor="let c of cusList" [value]="c.value">{{c.label}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Mô tả</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="Description" [(ngModel)]="promoDetail.description">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">Lưu</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Hủy</button>
  </div>
</div>
