<div class="container">
    <div class="modal-header modal-lg">
        <h4 class="modal-title pull-left">Thêm mới nhân viên</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <div class="row">
            <div class="col-6">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Tên Hạng Ghế <p style="color: red">*</p></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="Name" [(ngModel)]="seat!.row" >
                </div>
              </div>
            </div>
            <div class="col-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label">Description <p style="color: red">*</p></label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="Description" [(ngModel)]="seat!.column" >
                  </div>
                </div>
            </div>
          </div>
    </div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="save()">Save</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hide()">Close</button>
    </div>
  </div>