<div class="container">
  <div class="modal-header modal-lg">
      <h4 class="modal-title pull-left">
        <!-- <span *ngIf="promo.id">Sửa thông tin Chương trình Khuyến mãi</span> -->
        <span>Thông tin vé đã chọn</span>
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row mt-3">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Tên Phim</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="movie" [(ngModel)]="showtime.movieName">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Suất chiếu</label>
              <div class="col-sm-9">
                <input class="form-control" id="toDate" name="startTime"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                bsDatepicker required [(ngModel)]="showtime.startTime">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Phòng chiếu</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="room" [(ngModel)]="showtime.roomName">
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Ghế</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="listchair" [(ngModel)]="listchair">
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">Lưu</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Hủy</button>
  </div>
</div>
